
.dropdownContent {
    border-radius: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 100%;
    z-index: 1;
}
.button2{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    margin: 0.1em;
    border-radius: 50%;
    height: 4em;
    width: 100%;
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px brown;
    cursor: pointer;
    background: #d9d4d9;
    color: black;
}
.blockOfInf{
    display:flex;
    justify-content: center;
    transition-property:justify-content, font-size;
    transition: 1s;
}
.blockOfInf:hover{
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
    border-radius: 0;
    font-size:2em;
    min-width: 70%;
    text-align: center;
    transition: 0.5s ease;
}
