/*Подключение локальных шрифтов*/
@font-face {
    font-family: 'Digital Font 1';
    src: url(/public/assets/digital-7/digital-7.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: lighter;

}
#root{
    font-family: 'Digital Font 1';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;

}
.App{
    background: #402a2a;
    border-radius: 5%;
}

.button-desk{
    width: 400px;
    height: 600px;
}
.row{
    display: flex;
    width: 100%;
}

.result-window{
    border-radius: 25px 25px 0 0;
    height: 4em;
    width: 100%;
    font-size: 1.5em;
    background: black;
    color:white;
    outline: 1px  brown;
    align-items: end;
    justify-content: right;
}



